.posts, .postDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
    .item {
        margin: 10px;
        padding: 30px;
        border: 2px solid rgba(190, 0, 0, 0.156);

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid rgba(190, 0, 0, 0.156);
            padding-bottom: 10px;
            position: relative;
            padding-bottom: 34px;
            margin-top: 12px;

            h1 {
                position: absolute;
                left: 0;
                font-size: 30px;
                text-transform: capitalize;
            }

            button {
                position: absolute;
                right: 0;
                bottom: 18px;
                padding: 10px;
                background-color: rgba(255, 0, 0, 0.121);
                border: 2px solid rgba(255, 0, 0, 0.157);
                color: rgb(66, 66, 66);
                text-transform: uppercase;
            }

            button:hover {
                background-color: rgba(255, 0, 0, 0.51);
                color: white;
            }
        }

        p {
            margin-top: 20px;
        }
    }
}